config:
  backup: true
  banner: false
  create: true
  dotpath: dotfiles
  keepdot: false
  link_dotfile_default: nolink
  link_on_import: nolink
  longkey: false
actions:
  pre:
    install_rime_frost: git clone --depth 1
      https://github.com/gaboolic/rime-frost ~/.local/share/fcitx5/rime/
dotfiles:
  d_alacritty:
    src: config/alacritty
    dst: ~/.config/alacritty
  d_bat:
    src: config/bat
    dst: ~/.config/bat
  d_clipse:
    src: config/clipse
    dst: ~/.config/clipse
  d_fish:
    src: config/fish
    dst: ~/.config/fish
    upignore:
    - '*/completions/*'
    - '!*/completions/dotdrop.fish'
    - '*/conf.d/*'
    - '*/functions/*'
    - '*/fish_variables'
  d_fontconfig:
    src: config/fontconfig
    dst: ~/.config/fontconfig
  d_ghostty:
    src: config/ghostty
    dst: ~/.config/ghostty
  d_hypr:
    src: config/hypr
    dst: ~/.config/hypr
  d_kanshi:
    src: config/kanshi
    dst: ~/.config/kanshi
  d_kitty:
    src: config/kitty
    dst: ~/.config/kitty
  d_nwg-drawer:
    src: config/nwg-drawer
    dst: ~/.config/nwg-drawer
  d_paru:
    src: config/paru
    dst: ~/.config/paru
  d_pip:
    src: config/pip
    dst: ~/.config/pip
  d_psd:
    src: config/psd
    dst: ~/.config/psd
    upignore:
    - '*/.psd.conf'
  d_rofi:
    src: config/rofi
    dst: ~/.config/rofi
  d_satty:
    src: config/satty
    dst: ~/.config/satty
  d_user:
    src: config/systemd/user
    dst: ~/.config/systemd/user
    upignore:
    - '*/default.target.wants/*'
    - '*/graphical-session.target.wants/*'
  d_uv:
    src: config/uv
    dst: ~/.config/uv
  d_uwsm:
    src: config/uwsm
    dst: ~/.config/uwsm
  d_waybar:
    src: config/waybar
    dst: ~/.config/waybar
  d_wlogout:
    src: config/wlogout
    dst: ~/.config/wlogout
  f_starship.toml:
    src: config/starship.toml
    dst: ~/.config/starship.toml
  d_fcitx5:
    src: local/share/fcitx5
    dst: ~/.local/share/fcitx5
    actions:
    - install_rime_frost
    upignore:
    - '*/rime/*'
    - '!*/rime/default.custom.yaml'
    - '!*/rime/rime_frost.custom.yaml'
profiles:
  cachyos:
    dotfiles:
    - d_alacritty
    - d_bat
    - d_clipse
    - d_fish
    - d_fontconfig
    - d_ghostty
    - d_hypr
    - d_kanshi
    - d_kitty
    - d_nwg-drawer
    - d_paru
    - d_pip
    - d_psd
    - d_rofi
    - d_satty
    - d_user
    - d_uv
    - d_uwsm
    - d_waybar
    - d_wlogout
    - f_starship.toml
    - d_fcitx5
