config:
  backup: true
  banner: false
  create: true
  dotpath: dotfiles
  keepdot: false
  link_dotfile_default: nolink
  link_on_import: nolink
  longkey: false
actions:
  pre:
    install_rime_frost: git clone --depth 1 https://github.com/gaboolic/rime-frost ~/.local/share/fcitx5/rime/
dotfiles:
  d_alacritty:
    src: config/alacritty
    dst: ~/.config/alacritty
  d_bat:
    src: config/bat
    dst: ~/.config/bat
  d_cliphist:
    src: config/cliphist
    dst: ~/.config/cliphist
  d_dust:
    src: config/dust
    dst: ~/.config/dust
  d_fontconfig:
    src: config/fontconfig
    dst: ~/.config/fontconfig
  d_ghostty:
    src: config/ghostty
    dst: ~/.config/ghostty
  d_hypr:
    src: config/hypr
    dst: ~/.config/hypr
  d_kanshi:
    src: config/kanshi
    dst: ~/.config/kanshi
  d_kitty:
    src: config/kitty
    dst: ~/.config/kitty
  d_nwg-drawer:
    src: config/nwg-drawer
    dst: ~/.config/nwg-drawer
  d_paru:
    src: config/paru
    dst: ~/.config/paru
  d_rofi:
    src: config/rofi
    dst: ~/.config/rofi
  d_satty:
    src: config/satty
    dst: ~/.config/satty
  d_uwsm:
    src: config/uwsm
    dst: ~/.config/uwsm
  d_waybar:
    src: config/waybar
    dst: ~/.config/waybar
  d_wlogout:
    src: config/wlogout
    dst: ~/.config/wlogout
  f_config.fish:
    src: config/fish/config.fish
    dst: ~/.config/fish/config.fish
  f_fish_plugins:
    src: config/fish/fish_plugins
    dst: ~/.config/fish/fish_plugins
  f_dotdrop.fish:
    src: config/fish/completions/dotdrop.fish
    dst: ~/.config/fish/completions/dotdrop.fish
  f_pip.conf:
    src: config/pip/pip.conf
    dst: ~/.config/pip/pip.conf
  f_uv.toml:
    src: config/uv/uv.toml
    dst: ~/.config/uv/uv.toml
  d_themes:
    src: local/share/fcitx5/themes
    dst: ~/.local/share/fcitx5/themes
    actions:
    - install_rime_frost
  f_starship.toml:
    src: config/starship.toml
    dst: ~/.config/starship.toml
  f_default.custom.yaml:
    src: local/share/fcitx5/rime/default.custom.yaml
    dst: ~/.local/share/fcitx5/rime/default.custom.yaml
  f_rime_frost.custom.yaml:
    src: local/share/fcitx5/rime/rime_frost.custom.yaml
    dst: ~/.local/share/fcitx5/rime/rime_frost.custom.yaml
profiles:
  cachyos:
    dotfiles:
    - d_alacritty
    - d_bat
    - d_cliphist
    - d_dust
    - d_fontconfig
    - d_ghostty
    - d_hypr
    - d_kanshi
    - d_kitty
    - d_nwg-drawer
    - d_paru
    - d_rofi
    - d_satty
    - d_uwsm
    - d_waybar
    - d_wlogout
    - f_config.fish
    - f_fish_plugins
    - f_dotdrop.fish
    - f_pip.conf
    - f_uv.toml
    - f_starship.toml
    - d_themes
    - f_default.custom.yaml
    - f_rime_frost.custom.yaml
